---
title: GoCD - Download
title_tag_of_header: "Download for Free - Server and Agent | GoCD"
meta_description: "Download GoCD's open source continuous delivery server for OS for free. Community and commercial support available."
meta_keywords: "GoCD download, go agent download, go cd download, install gocd"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Download</span></h1>
    </div>
  </div>
</div>
<main>
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-3 sidebar">
        <button class="get-start-btn"><i class="fa fa-bars"></i></button>
        <nav class="sidebar-nav download-nav">
          <ul class="verticalnav">
            <li class="dropdown open">
              <a href="#">OS Types</a>
              <ul>
                <li><%= link_to "RPM/YUM", "#rpm", {"class" => "active"} %></li>
                <li><%= link_to "Debian/APT", "#rpm" %></li>
                <li><%= link_to "Zip" , "#rpm"  %></li>
                <li><%= link_to "Windows", "#rpm"  %></li>
                <li><%= link_to "OSX" , "#rpm" %></li>
              </ul>
            </li>
            <li class="dropdown open" %>
              <a href="#">Cloud Providers</a>
              <ul>
                <li><%= link_to "Amazon AWS" , "#rpm" %></li>
                <li><%= link_to "Docker" , "#rpm" %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-8 col-md-6">
        <div id="rpm">
          {{> show-releases-for-installer-type installer_type="rpm"     heading="RPM"     tab_id="tab-redhat"}}
        </div>
      </div>

      <div class="col-sm-4 col-md-3">

<script id="download-revisions-template" type="text/x-handlebars-template">
{{#*inline "show-releases-for-installer-type"}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <div class=" go-releases">
      <div class="latest">
        {{#with latest_release}}
        <div class="go-release {{display_version}}">
          <span class="version">{{display_version}}</span>
          {{#with (lookup . ../installer_type)}}
          <div class="files">
            {{#if server32bit}}
              {{> show-server-and-agent-32-and-64-bit-installers}}
              <div class="download-message">
                There are two flavors of Server and Agent installers for Windows, one packaged with 64 bit JRE and the other
                with 32 bit JRE. We recommend using a Server with 64 bit JRE and an Agent with 32 bit JRE.
              </div>
            {{else}}
              {{> show-server-and-agent-installer}}
            {{/if}}
          </div>
          {{/with}}
        </div>
        {{/with}}
      </div>
    </div>
    <div class="other-releases">
      <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
    </div>
    <div class="old-release">
      {{#each all_other_releases}}
      <div class="row go-release {{display_version}}">
        <div class="col-sm-3 ">
          <span class="version">{{display_version}}</span>
        </div>
        {{#with (lookup . ../installer_type)}}
        <div class="col-sm-9 ">
          <div class="files">
            {{#if server32bit}}
              {{> show-server-and-agent-32-and-64-bit-installers}}
            {{else}}
              {{> show-server-and-agent-installer}}
            {{/if}}
          </div>
        </div>
        {{/with}}
      </div>
      {{/each}}
    </div>
  </div>
{{/inline}}

{{#*inline "show-server-and-agent-32-and-64-bit-installers"}}
  <div class="download-files">
    {{> show-file server type="server" display_name="Server" info="(64 bit JRE)" os=../../installer_type}}
    {{> show-file agent type="agent" display_name="Agent" info="(64 bit JRE)" os=../../installer_type}}
  </div>
  <div class="download-files">
    {{> show-file server32bit type="server32bit" display_name="Server" info="(32 bit JRE)" os=../../installer_type}}
    {{> show-file agent32bit type="agent32bit" display_name="Agent" info="(32 bit JRE)" os=../../installer_type}}
  </div>
{{/inline}}

{{#*inline "show-server-and-agent-installer"}}
  <div>
    {{> show-file server type="server" display_name="Server" os=../../installer_type}}
    {{> show-file agent type="agent" display_name="Agent" os=../../installer_type}}
  </div>
{{/inline}}

{{#*inline "show-tab-header"}}
<li rel="{{{tab_id}}}">
  <span class="os-logo"><img src="{{{image}}}" alt="{{{desc}}}" /></span>
  <span class="desc">{{{desc}}}</span>
</li>
{{/inline}}
{{#*inline "show-file"}}
<div class="{{{type}}} file">
<div class="name">
  <a id="{{{analytics_id}}}" href="{{{url}}}" class="btn btn-primary">
    <i class="fa fa-download" analytics-label="download-{{{type}}}-{{{os}}}">
    <span>{{{display_name}}}</span>
    </i>
    {{#if info}}
      <span class="bit">{{{info}}}</span>
    {{/if}}
  </a>
</div>
<div class="verify-checksum" data-filename="{{{filename}}}" data-sha256sum="{{{sha256sum}}}" data-sha1sum="{{{sha1sum}}}" data-md5sum="{{{md5sum}}}">
  <button class="verify" analytics-label="verify-checksum">Verify checksum</button>
</div>
</div>
{{/inline}}
<div class="download-area">
  <div class="container">
    <h2 class="sub-title">Choose your OS &amp; download</h2>
    <p class="info">Latest supported release (<span id="latest-version">{{latest_version}}</span>) <a href="../releases/#latest" class="btn btn-dark">See what's new</a> </p>
    <ul class="tabs os">
      {{> show-tab-header tab_id="tab-windows" image="<%= image_path "download/windows.png" %>" desc="Windows"}}
      {{> show-tab-header tab_id="tab-osx" image="<%= image_path "download/osx.png" %>" desc="OSX"}}
      {{> show-tab-header tab_id="tab-debian" image="<%= image_path "download/debian.png" %>" desc="Debian"}}
      {{> show-tab-header tab_id="tab-redhat" image="<%= image_path "download/redhat.png" %>" desc="RPM"}}
      {{> show-tab-header tab_id="tab-zip" image="<%= image_path "download/package.png" %>" desc="Zip"}}
    </ul>
  </div>
</div>
<div class="os-tab-content">
  <div class="container">
    <div class="tab_container">
      <h3 class="tab-accordion_heading" rel="tab-windows">Windows</h3>
      {{> show-releases-for-installer-type installer_type="win"     heading="Windows" tab_id="tab-windows"}}
      <h3 class="tab-accordion_heading" rel="tab-osx">OSX</h3>
      {{> show-releases-for-installer-type installer_type="osx"     heading="OSX"     tab_id="tab-osx"}}
      <h3 class="tab-accordion_heading" rel="tab-debian">Debian</h3>
      {{> show-releases-for-installer-type installer_type="deb"     heading="Debian"  tab_id="tab-debian"}}
      <h3 class="tab-accordion_heading" rel="tab-redhat">RPM</h3>
      {{> show-releases-for-installer-type installer_type="rpm"     heading="RPM"     tab_id="tab-redhat"}}
      <h3 class="tab-accordion_heading" rel="tab-zip">Zip</h3>
      {{> show-releases-for-installer-type installer_type="generic" heading="Zip" tab_id="tab-zip"}}
    </div>
  </div>
  <div id="verify-checksum-message"></div>
</div>
</script>
</main>
</script>
    
<div id="downloads">
  <div class="container">
    <div class="load-message">
      <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
      <span> Please wait. Fetching information about download ...</span>
    </div>
  </div>
</div>

<ul class="help-links">
  <li> <a href="#">release notes</a></li>
  <li> <a href="#">System requirements</a></li>
  <li> <a href="#">Server Installation Instructions</a></li>
  <li> <a href="#">Agent Installation Instructions</a></li>
</ul>

<p>If you need help downloading, installing or using GoCD please join the <a href="#">GoCD Users Google Group</a>.</p>
      </div>
    </div>
  </div>
</main>